@font-face { 
    font-family: 'Comicoro'; 
    src: url('fonts/ComicoroRu_0.ttf')  format('truetype');
    font-weight: normal; 
    font-style: normal; 
  }

  h1 { 
    font-family: 'Comicoro';
    color: #474646;
    width: 350px;
    text-align: center;
  }