body {
  margin: 0;
  width: 100%;
}

@font-face { 
    font-family: 'Comicoro'; 
    src: url('fonts/ComicoroRu_0.ttf')  format('truetype');
    font-weight: normal; 
    font-style: normal; 
  }

  h1 { 
    font-family: 'Comicoro';
    color: #474646;
    width: 100%;
    text-align: center;
    margin: 28px 0 0;
  }